html {
  background-image: url(https://avatars.mds.yandex.net/i?id=3c7938761ec078af14eeebd31fe32b5d_l-7043127-images-thumbs&n=13);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100em; /*размер фото*/
}

.text {
  color: #00ffff;
}

 .clasick1{
	text-decoration: none;
	font-size: 30px;
	color: #7fff00;
 }